.preloader-wrapper-1{
    align-items: center;
    position: fixed;
    z-index: 999999;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: all 1s ease 0s;
    background-position: center center;
    background-size: 150px;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    background: linear-gradient(180deg, #FEEB9D 0%, #FFFAF3 100%);
	img{
		width: 220px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}


	.loader{
    margin: 30px auto 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
	}


.load-circle {
	position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
	.circle-2{
    width: 120px;
    height: 120px;
    position: absolute;
    border: 2px solid var(--rgba-primary-4);
    opacity: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      max-width: 55px;
    }
    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border: 2px solid var(--primary);
      border-radius: 50%;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
      animation: load-circle 1s ease-in-out infinite;
    }
    &::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border: 2px solid var(--primary);
      border-radius: 50%;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
      animation: load-circle2 1s ease-in-out infinite;
    }
	}
}

@keyframes load-circle {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    width: 120px;
    height: 120px;
    opacity: 0;
  }
  5% {
    width: 120px;
    height: 120px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

@keyframes load-circle2 {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    width: 120px;
    height: 120px;
    opacity: 0;
  }
  5% {
    width: 120px;
    height: 120px;
    opacity: 1;
  }
  100% {
    width: 160px;
    height: 160px;
    opacity: 0;
  }
}
